BOT_TOKEN=7953571542:AAEvG2rRvg5F1XrwdpDUD98xAwo4D3lpfWw
ADMIN_ID=515788645,987654321   # можно несколько ID через запятую
MAIN_GROUP_ID=-1003801971456
THREAD_SALES=242
THREAD_ASSORTMENT=229
THREAD_ARRIVAL=278
THREAD_PREORDER=429
DATABASE_URL=postgresql://telegram_bot_db_0wlh_user:R0lONlOeMFW8aKGYF9gyeADN6pYM51sC@dpg-d6p1plf5gffc738sbkqg-a/telegram_bot_db_0wlh
PORT=8000
PLAN_AMOUNT=600000
